<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список учеников</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .add-student-form {
            background-color: var(--green);
            padding: 20px;
            border-radius: var(--radius);
            margin-bottom: 20px;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Список учеников</h1>
    <table id="studentTable">
      <thead>
        <tr>
          <th>ФИО</th>
          <th>Логин</th>
          <th>Управление</th>
        </tr>
      </thead>
      <tbody id="student-table">
        <!-- Здесь будут динамически добавляться строки из базы данных -->
      </tbody>
    </table>

    <h2>Добавление ученика</h2>
      <div class="add-student-form">
        <input type="text" placeholder="Введите ФИО ученика" id="studentName">
        <input type="text" placeholder="Введите логин ученика" id="studentLogin">
        <input type="text" placeholder="Введите пароль ученика" id="studentPassword">
        <button class="form-button" id ="addButton">Добавить</button>
      </div>
      <button class="form-button" id ="backButton">Вернуться назад</button>
<script>
  // Функция для добавления строки в таблицу
  const addButton = document.getElementById('addButton');


  function loadStudents() {
    const id = localStorage.getItem("teacherId");
    console.log(id);

    fetch('/api/teacher/students/getAll')
              .then(response => response.json())
              .then(students => {
                  const studentsTable= document.getElementById('student-table');
                  studentsTable.innerHTML = '';
                  students.forEach(student => {
                      const row = studentsTable.insertRow();
                      const initialsCell  = row.insertCell();
                      const loginCell  = row.insertCell();
                      const actionCell = row.insertCell();

                      initialsCell.textContent = student.studentInitials;
                      loginCell.textContent = student.studentLogin;
                      const editStudentButton = document.createElement('button');
                      editStudentButton.textContent = "Изменить данные";
                      editStudentButton.classList.add("form-button");
                      editStudentButton.addEventListener('click', () => {
                        localStorage.setItem('editStudentId', student.studentId);
                        window.location.href = '/editStudent';
                      });
                      actionCell.appendChild(editStudentButton);
                  });
              });
  }

  addButton.addEventListener('click', () => {

    const studentName = document.getElementById('studentName').value;
    const studentLogin = document.getElementById('studentLogin').value;
    const studentPassword = document.getElementById('studentPassword').value;
    let alertStr = "";
    if(studentName.length<10||studentName.length>80)
    {
      alertStr+= "Длина ФИО ученика должна быть от 10 до 80 символов";
    }
    if(studentLogin.length<4||studentLogin.length>8)
    {
      alertStr+= "\nДлина логина ученика должна быть от 4 до 8 символов";
    }
    if(studentPassword.length<4||studentPassword.length>12)
    {
      alertStr+= "\nДлина пароля ученика должна быть от 4 до 8 символов";
    }
    
    if (alertStr.length!= 0) 
    {
      alert(alertStr);  
    }
    else
    {
      addStudent(studentName,studentLogin,studentPassword);
    }
   

})
const backButton = document.getElementById("backButton");
backButton.addEventListener('click', () => {
  window.location.href = '/menuTeacher';
})


  loadStudents();

  async function addStudent(studentName,studentLogin,studentPassword ) {

    const studentData = {
      studentInitials: studentName, // убедитесь, что имена полей соответствуют бэкенду
      studentLogin: studentLogin,
      studentPassword: studentPassword,
    };
        const response = await fetch("/api/teacher/students", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(studentData),
        });
        loadStudents();

  }
</script>
</body>
</html>
