<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Динамическая Таблица Оценок</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>

<h2>Таблица Оценок</h2>
<table id="journalTable">
    <thead>
        <tr id = 'mainRaw'>
            <th>ФИО</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
   
function load()
{

  fetch('/api/teacher/taskAll').then(responce => responce.json()).then(tasks =>
  {
  
    tasks.forEach(task => {
      console.log(task);
      const th = document.createElement('th');  
      th.id = task.taskId;  
      th.textContent = task.taskName;
  
      mainRaw.appendChild(th);
    });


  fetch('/api/teacher/students/getAll').then(responce => responce.json()).then(students =>
  {
  
    students.forEach(student => {
     
      const row = journalTable.insertRow();
      const initialsCell  = row.insertCell();
      initialsCell.textContent = student.studentInitials;
      console.log(student.studentId);
      tasks.forEach(task=> 
      {
        const markCell = row.insertCell();
        fetch(`/api/teacher/students/${student.studentId}/tasks/${task.taskId}/mark`).then(responce=> 
      {
        if (!responce.ok) {
          markCell.textContent= "55";
          return;
          
    }
    return responce.text();
      }
        )
        .then(mark=>
        {
          console.log('222');
          console.log(mark);

          if (mark !== undefined) 
          {
            // localStorage.setItem("taskToCheck", task.taskId);
            // localStorage.setItem("studentToCheck", student.studentId);

            const link = document.createElement('a');
            link.href = "/checkSolution";
            
            link.addEventListener('click', function(event) {
              localStorage.setItem("taskToCheck", task.taskId);
              localStorage.setItem("studentToCheck", student.studentId);
                            console.log('Ссылка на задание нажата:', task.taskName);
                        });

            link.textContent = mark;
            markCell.appendChild(link);
          } 
          else 
          {
        markCell.textContent = '-';
        }
        })
      })
    });
  }

  )
}
)
}
const journalTable = document.getElementById('journalTable');
const mainRaw = document.getElementById('mainRaw');
 load();      
   
</script>

</body>
</html>
